$sideCells: 10;
$dotSize: 30px;
$box-size: $dotSize * $sideCells;
$radius: 0;

$padding: 20px;

$hello-height: 150px;

$color-border: #CCC;
$color-active: orange;
$color-step: lightgray;
$color-step-l: lighten($color-step, 12);
$color-step-d: darken($color-step, 20);

@mixin clear {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

@mixin dotted-text($color: #555) {
  border-bottom: 1px dotted;
  line-height: 1.2;
  color: $color;
  cursor: pointer;
}

$time: 1s;

@import "reset";

* {
box-sizing: border-box;
}

HTML,
BODY {
  height: 100%;
}

BODY {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  font: 14px/1.4 'Trebuchet MS', Verdana, sans-serif;
  color: #333;
}

LABEL {
  cursor: pointer;
}

.container {
  padding: 1rem;
}

.wrapper {
  position: relative;
  min-width: 700px;
  border: 1px solid $color-border;
  white-space: nowrap;

  &:after {
    @include clear;
    }
  }

.title {
  font-size: 3rem;
  text-align: center;
}

.boxes {
  position: relative;
  text-align: center;
  border: 1px solid $color-border;
  border-width: 1px 0;
}
.zero-gravity {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.box {
  position: relative;
  display: inline-block;
  border: 1px solid $color-border;
  &:nth-of-type(1){
    margin-right: $padding;
    }
}
.panel {
  padding: $padding/2;
  color: #888;
  &:before,
  &:after {
    @include clear;
    }
}


.panel--top {
}

.panel--bottom {
}


.title {
  display: inline-block;
  padding-right: $padding/2;
  line-height: $dotSize;
  }

.steps .title {
  float: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  }

/* Paint Box
----------------------------- */
.box--paint {
  overflow: hidden;
  border-width: 0 1px 1px 0;
  background-image:
    linear-gradient( to right,
      $color-border 1px,
      transparent 1px
    ),
    linear-gradient( to bottom,
      $color-border 1px,
      transparent 1px
    );
  background-position: 0 0;
}

/* Labels
----------------------------- */
.cell {
  display: block;
  float: left;
}
.cell__inp {
  position: absolute;
  display: none;
  }
.cell__lbl {
  display: block;
  border-radius: $radius;
  /*box-shadow: 0 0 2px #999 inset;*/
}

:checked + .cell__lbl {
  position: relative;
  }
.is-colored {
  background: $color-active;
}

/* Result Box
----------------------------- */
.box--result {
  overflow: hidden;
  }

/* Dotts
----------------------------- */

.dot {
  display: block;
  position: absolute;
  border-radius: $radius;
}
.dot--previous {
  opacity: .2;
}

.is-running{
}

@keyframes shadows {}

/* Palette
----------------------------- */
.palette {
  display: inline-block;
}
.items--colors {
  display: inline-block;
  vertical-align: middle;
}
.color {
  display: inline-block;
  width: $dotSize;
  height: $dotSize;
  }
.color__inp {
  display: none;
  }

.color__lbl {
  display: block;
  height: $dotSize;
}
:checked + .color__lbl {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .3);
}

/* Color Controls
----------------------------- */
.items--colors-controls {
  display: inline-block;
  position: relative;
  height: $dotSize;
  margin-left: 5px;
  vertical-align: middle;
}
.colors-controls__item {
  position: absolute;
  border: 10px solid transparent;
  border-color: $color-step-d transparent;
  border-width: 10px 4px;
  cursor: pointer;
  &:hover {
    border-color: darken($color-step-d, 10) transparent;
  }
  &:active {
    border-color: darken($color-step-d, 30) transparent;
  }
}
.colors-controls__item--up {
  top: 0;
  border-top: 0;
  &:active {
    top: 2px;
  }
}
.colors-controls__item--down {
  bottom: 0;
  border-bottom: 0;
  &:active {
    bottom: -2px;
  }
}
/* Panel
----------------------------- */
.panel {
  position: relative;
  }
.panel__item {
  float: left;
  margin-left: $padding*1.6;
  &:first-child {
    margin-left: 0;
    }
}
.text--value {
  width: 3.5em;
  height: $dotSize;
  line-height: $dotSize;
  pading: 0;
  border: 1px solid $color-border;
  border-radius: 5px;
  text-align: center;
}

/* Steps
----------------------------- */
.steps {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.steps-control {
  display: inline-block;
  position: relative;
  width: $dotSize*.8;
  height: $dotSize*.8;
  line-height: $dotSize*.8;
  margin: 0 6px;
  top: 0;
  background: $color-step;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .2s;
  }
.steps-control:hover {
  top: -1px;
  background: $color-step-l;
  color: #555;
}
.steps-control:active {
  top: 1px;
  background: $color-step-d;
  color: #FFF;
}

.is-disabled,
.is-disabled:hover  {
  top: 0;
  background: $color-step-l;
  color: #AAA;
  cursor: default;
}

.items--steps {
  display: block;
  margin-top: 10px;
}
.step {
  display: inline-block;
  width: $dotSize;
  height: $dotSize;
  margin-right: 1px;
  line-height: $dotSize;
  background: $color-step-l;
  text-align: center;
  }
.step__inp {
  position: absolute;
  display: none;
  }
.step__lbl {
  display: block;
  height: $dotSize;
}
.is--filled + .step__lbl {
  background: $color-step;
  }

:checked + .step__lbl {
  position: relative;
  z-index: 1;
  background: $color-step-d;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .3);
  color: #FFF;
}

.is-hidden {
  display: none;
}

.frames-clear {
  position: absolute;
  top: $padding/2;
  &:hover {
    padding-top: 1px;
  }
}

.frames-clear--current {
  left: $padding/2;
  @include dotted-text;
}
.frames-clear--all {
  right: $padding/2;
  @include dotted-text(orangered);
}

.is--sleepy {
  color: #777
}
/* Codes
----------------------------- */
.codes {
  /*display: none;*/

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(240, 240, 240, .9);
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);

}
.is-open {
  right: -.5em;
  left: -.5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3),
     0 0 0 1000px rgba(255, 255, 255, .8);
}

.codes__toggle {
  position: absolute;
  top: -$padding*1.2;
  right: $padding/2;
  @include dotted-text;
  &:hover {
    padding-top: 1px;
  }
}
.codes__wrapper {
  display: none;
  padding: $padding;
  border: 1px solid #BBB;
  .is-open & {
    display: block;
    }
  }

.codes--title {
  margin-bottom: $padding/3;
  color: #777;
}
.codes__textarea {
  display: block;
  width: 100%;
  height: $dotSize*4;
  border: 1px solid $color-border;
  }
.textarea--css {
    margin-bottom: $padding;
    }


.hello {
  display: none;
  position: absolute;
  z-index: 10;
  height: $hello-height;
  width: 100%;
  top: -1em;
  bottom: -1em;
  margin: auto;
  background: rgba(0,0,0,.3);
  text-shadow: 0 0 3px rgba(0,0,0,.5);
  text-align: center;
  color: #FFF;
  H2 {
  margin-bottom: 10px;
  font-size: 4em;
  }
  SPAN {
    font-size: 2em;
  }
  &:before {
    content: "";
    display: inline-block;
    height: $hello-height;
    vertical-align: middle;
  }
}
.hello__text {
display: inline-block;
  vertical-align: middle;
}
@media (max-width: 760px){
  .hello {
    display: block;
  }
}
